{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}

{% extends 'admin/adminindex1.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/search_comp">
<table class="table table-striped">
  <tr align="center">
       <td  colspan="9"><h1>VIEW COMPLAINT&SEND REPLY</h1></td>
   </tr>
{#  <table width="284" border="1">#}
    <tr>
      <th colspan="5">Date
        <label>
        <input type="date" name="textfield" />
        <input type="submit" name="Submit" value="search" class="btn btn-primary"/>
      </label></th>
    </tr>
    <tr>
      <th width="24">slno</th>
      <th width="25">staff</th>
      <th width="58">complaint</th>
      <th width="26">date</th>
      <th width="117">&nbsp;</th>
    </tr>
      {% for i in  val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.staff.fname }}&nbsp;&nbsp;{{ i.staff.lname }}&nbsp;</td>
      <td>&nbsp;{{ i.complaint }}</td>
      <td>{{ i.date }}&nbsp;</td>
      <td>{% if i.reply == "pending" %}<a href="reply/{{ i.id }}">Reply</a>{% else %}{{ i.reply }}{% endif %}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
