{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{% extends 'hr/hrindex1.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/editwrk1" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-stripped">
    <tr>
      <td>work</td>
      <td><label>
        <input type="text" name="textfield" value="{{ val.work }}" />
      </label></td>
    </tr>
    <tr>
      <td>description</td>
      <td><label>
      <input type="text" name="textfield2" value="{{ val.description }}" />
      </label></td>
    </tr>
{#    <tr>#}
{#      <td>status</td>#}
{#      <td><label>#}
{#      <input type="text" name="textfield3"  value="{{ val.status }}" />#}
{#      </label></td>#}
{#    </tr>#}
    <tr>
      <td>date</td>
      <td><label>
      <input type="date" name="textfield4"  value="{{ dt }}"/>
      </label></td>
    </tr>

    <tr>
      <td>plan</td>
      <td><label>
           <img src="{{ val.plan.url }}" width="100" height="100"><br>
        <input type="file" name="file"  value="{{ val.work }}" />
      </label></td>
    </tr>
    <tr>
      <td>client</td>
      <td><label>

      <input type="text" name="textfield7"  value="{{ val.client }}" />
      </label></td>
    </tr>

      <tr>
      <th>Staff</th>
      <td><select name="select"  class="btn btn-light dropdown-toggle" required>
          {% for j in val1 %}
          <<option value="{{ j.id }}">{{ j.fname }} {{ j.lname }}</option>
          {% endfor %}
      </select></td>
    </tr>

{#    <tr>#}
{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
{#    </tr>#}

       <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="Update" class="btn btn-primary w-100" />
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
{#</html>#}
