{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}

{% extends 'hr/hrindex1.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1">#}
  <table width="295" border="1" class="table table-striped">
  <tr align="center">
       <td  colspan="9"><h1>MORE DA DETAILS</h1></td>
   </tr>
    <tr>
      <th>Date</th>
      <th>Expense</th>
      <th>Amount</th>
      <th>Bill</th>
      <th></th>
      <th></th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.date }}</td>
      <td>{{ i.expense }}</td>
      <td>{{ i.amount }}</td>
      <td>&nbsp;<a href="{{ i.bill.url }}" >view</a></td>


      <td> {% if i.status == "pending" %}
          <p><a href="/Accept_da/{{ i.id }}">Accept</a></p>
          <p><a href="/reject_da/{{ i.id }}">Reject</a></p>
          {% else %}{{ i.status }}
          {% endif %}
          </td>

    <td></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>

{% endblock %}
{#</html>#}
